include LICENSE
include CHANGELOG
include README.rst
recursive-include django_signal_notifier/static *
recursive-include django_signal_notifier/templates *
include LICENSE
include README.rst

include docs/Makefile
include docs/make.bat
recursive-include docs/source *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * empty
