django
# Update requirements.txt and package dependencies
asgiref
asn1crypto==0.24.0
attrs==19.1.0
autobahn==19.9.3
Automat==0.7.0
autopep8==1.4.4
certifi==2019.6.16
cffi==1.12.3
channels==2.2.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
daphne
django-eventstream
django-grip
gripcontrol
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
#psycopg2==2.8.3
pubcontrol
pycodestyle==2.5.0
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
pytz==2019.2
requests==2.22.0
sqlparse==0.3.0
Twisted
txaio==18.8.1
urllib3==1.25.3
Werkzeug==0.15.6
zope.interface==4.6.0
