<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>event test</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/insite_notifications.css' %}">
</head>
<body>
<div>
    <h1>number of notifications for user {{ user.id }}</h1>
    <div id="number_notifications" class="number_notifications">
        {{ number }}
    </div>
    <div id="notifications_box" class="notifications_box" style="display: none">
        <button>salam</button>
    </div>
</div>
<script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
<script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
<script src="{% static 'django_eventstream/json2.js' %}"></script>
<script src="{% static 'js/insite_notifications.js' %}"></script>
<script>
    eventListenerInit({{user.id}});
</script>
</body>
</html>