.number_notifications {
    cursor: pointer;
    border: #5b80b2 solid;
    background-color: #5b80b2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    display: block;
    line-height: 30px;
    color: white;
}

.notifications_box {
    border: #003366 solid;
    border-radius: 2px;
    vertical-align: center;
    text-align: center;
    width: 25%;
    height: 200px;
    margin-top: 2%;
    position: relative;
}

.notifications_context {

}

.notification_message_box {

}

.next_button_style {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.back_button_style {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 2%;
    left: 2%;
}

.status_span {
    position: absolute;
    bottom: 2%;
    width: fit-content;
    right: 40%;
    text-align: center;
}

.close_button {
    position: absolute;
    top: 2%;
    left: 2%;
    border: #003366 solid thin;
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
}